* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D5E1EF;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
  background-color: #ffff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 16px 40px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.qr_content .qr_title {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  padding: 24px 16px 16px 16px;
  color: #1F314F;
}

.qr_content .qr_description {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  padding: 0px 16px 0px 16px;
  color: #68778D;

}

.qr-code-image {
  width: 288px;
  height: 288px;
  border-radius: 12px;
 
}




